name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodları Çek
        uses: actions/checkout@v4
      - name: Node.js Kur
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Paketleri Yükle
        run: npm ci
      - name: Derle (Build)
        run: npm run build
        env:
          # Gizli anahtarı GitHub ayarlarından alacak
          VITE_GEMINI_API_KEY: ${{ secrets.VITE_GEMINI_API_KEY }}
      - name: Dosyaları Hazırla
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Pages'de Yayınla
        id: deployment
        uses: actions/deploy-pages@v4